*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: skyblue;
}

table {
    border: solid 3px black;
    margin: 20px auto;
    border-radius: 10px;
    border-spacing: 0;
    width: 50%;
}

thead {
    font-size: 2rem;
}

tr {
    padding: 10px;
}

td {
    padding: 20px 50px;
    font-size: 1.3rem;
}

#event-list-app {
    text-align: center;
    width: 100%;
    padding: 20px;
}

#event-list-app__add-button {
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-size: 1.5rem;
    background-color: royalblue;
    color: white;
    cursor: pointer;
}

tbody > tr {
    background-color: antiquewhite;
}

.event-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.event-actions > button {
    width: 100%;
    border-radius: 10px;
    border: none;
    padding: 10px;
    font-weight: 600;
}

.edit-button, .post-button {
    background-color: greenyellow;
    cursor: pointer;
}

.delete-button, .cancel-button {
    background-color: red;
    cursor: pointer;
}

input {
    padding: 5px;
    border-radius: 5px;
}
